<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zngrb.pneerenf@tznvy.pbz</string>
	<key>contactName</key>
	<string>Mateo Carreras</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Clasp Syntax</string>
	<key>uuid</key>
	<string>69E40DE0-DF1D-4ADE-9BA9-8F540BE0A119</string>
</dict>
</plist>
